@import url('https://fonts.cdnfonts.com/css/dirty-ego');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@keyframes header-shrink-logo {
	from {
		font-size: 6em;
        max-width: 100%;
	}
	to {
		font-size: 2.1em;
        max-width: 40%;
	}
}
@keyframes header-shrink-data {
	from {
		font-size: 2em;
        max-width: 50%;
	}
	to {
		font-size: 1em;
        max-width: 40%;
	}
}
@keyframes disappear {
	from {
        opacity: 100%;
        visibility: visible;
        height: auto;
        margin: auto;
	}
	to {
        opacity: 0%;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
	}
}
@keyframes header-shrink {
	from {
		height: 70vh;
	}
	to {
		height: 10vh;
	}
}
@keyframes title-rearrange {
	from {
		flex-direction: column;
	}
	to {
		flex-direction: row;
        justify-content: space-between;
	}
}

header {
    background-color: #a52710;
    color: white;
    position: fixed;
    width: 100%;
    font-family: 'Dirty Ego';
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    animation: header-shrink linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 70vh;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 0.2em;
    max-width: 50%;
    font-size: 4.5em;
    font-weight: normal;
    animation: header-shrink-logo linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 70vh;
}

header p {
    transition: 0.4s;
    text-align: right;
    font-size: 2em;
    padding: 0.2em 1em;
    max-width: 20%;
}
.shrink {
    animation: header-shrink-data linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 70vh;
}

.disappear {
    animation: disappear linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 50vh;
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
    text-align: center;
}
#title {
    display: flex;
    flex-direction: row;
    animation: title-rearrange linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 70vh;
    width: 100%;
    align-items: center;
}

@keyframes footer-color {
	from {
        background-color:#a52710;
        border-top-style: solid;
    	}
	to {
        background-color: #f39c34;
        border-top-style: hidden;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    border-top-color: #f39c34;
    animation: fotter-color linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 10vh;
}

footer p {
    align-items: center;
    margin: 0;
    text-decoration: underline;
}

main {
    margin-top: 70vh;
    margin-bottom: 70px;
}

main h2 {
    background-color: #81744b;
    color: #fff;
    padding: 1.5em;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    background-color: #f7ebec;
    list-style-type: none;
    padding: 1em 1em 0.5em;;
    margin: 0.4em 0;
}
li p {
    margin: 0;
}
li ul li {
    padding: 0.3em;
    text-align: right;
    font-weight: bold;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5em;
    background-color: #f39c34;
    color: white;
    font-family: 'Dirty Ego';
    font-size: 1.5em;
    height: -webkit-fill-available;
}

.socials a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 1.2em;
    padding: 0 0.3em;
}

@keyframes menu-traspose {
	from {
		top: 70vh;
	}
	to {
        top: 10vh;
	}
}

menu {
    position: sticky;
    background-color: #f39c34;
    animation: menu-traspose linear forwards;
	animation-timeline: scroll();
    animation-range: 0vh 70vh;
    margin: 0;
}
.menu {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.menu ul {
    padding: 1em;
}