@import url('https://fonts.cdnfonts.com/css/dirty-ego');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

html {
    /*scroll-behavior: smooth;*/
    scroll-padding-top: 8svh;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@keyframes header-shrink-logo {
	from {
		font-size: 6em;
        max-width: 100%;
	}
	to {
		font-size: 2.1em;
        max-width: 70%;
	}
}
@keyframes header-shrink-data {
	from {
		font-size: 2em;
        max-width: 50%;
	}
	to {
		font-size: 1em;
        max-width: 40%;
	}
}
@keyframes disappear {
	from {
        opacity: 100%;
        visibility: visible;
        height: auto;
        margin: auto;
	}
	to {
        opacity: 0%;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
	}
}
@keyframes header-shrink {
	from {
		height: 94svh;
	}
	to {
		height: 8svh;
	}
}
@keyframes title-rearrange {
	from {
		flex-direction: column;
	}
	to {
		flex-direction: row;
        justify-content: space-between;
	}
}

header {
    background-color: #a52710;
    color: white;
    position: fixed;
    width: 100%;
height: 94svh;
    font-family: 'Dirty Ego';
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    animation: header-shrink linear forwards;
	animation-timeline: scroll();
    animation-range: 0svh 84svh;
    z-index: 0;
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 0.2em;
    max-width: 100%;
    font-size: 6em;
    font-weight: normal;
    animation: header-shrink-logo ease-in-out forwards;
	animation-timeline: scroll();
    animation-range: 20svh 50svh;
}

header p {
    transition: 0.4s;
    text-align: right;
    font-size: 2em;
    padding: 0.2em 1em;
    max-width: 100%;
}
.shrink {
	font-size: 2em;
        max-width: 50%
    animation: header-shrink-data ease-in-out forwards;
	animation-timeline: scroll();
    animation-range: 20svh 50svh;
}

.disappear {
    animation: disappear ease-in-out forwards;
	animation-timeline: scroll();
    animation-range: 0svh 40svh;
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
    text-align: center;
	opacity: 100%;
        visibility: visible;
        height: auto;
        margin: auto;
}
#title {
    display: flex;
	flex-direction: column;
    animation: title-rearrange ease-in-out forwards;
	animation-timeline: scroll();
    animation-range: 0svh 80svh;
    width: 100%;
    align-items: center;
    text-shadow: 5px 2px 3px #333;
}

@keyframes footer-color {
	from {
        background-color:#a52710;
        border-top-style: solid;
    	}
	to {
        background-color: #f39c34;
        border-top-style: hidden;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6svh;
    border-top-color: #f39c34;
    animation: footer-color linear forwards;
	animation-timeline: scroll();
    animation-range: 0svh 10svh;
    z-index: 2;
}

footer p {
    align-items: center;
    margin: 0;
    text-decoration: underline;
}

main {
    margin-top: 94svh;
    margin-bottom: 6svh;
}

main h2 {
    background-color: #81744b;
    color: #fff;
    padding: 1em 1.5em;
    margin: 0;
    scroll-snap-align: start;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    background-color: #f7ebec;
    list-style-type: none;
    padding: 1em 1em 0.5em;;
    margin: 0.4em 0;
}
li p {
    margin: 0;
}
li ul li {
    padding: 0.3em;
    text-align: right;
    font-weight: bold;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5em;
    color: white;
    font-family: 'Dirty Ego';
    font-size: 1.5em;
    height: -webkit-fill-available;
}

.socials a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 1.2em;
    padding: 0 0.3em;
}

menu {
    position: sticky;
    background-color: #f39c34;
    top: 9.5svh;
    margin: 0 0 10px;
    z-index: 1;
    padding: 0 0.5em;
    /*scroll-snap-align: start;*/
}
.menu {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.menu ul {
    padding: 0.8em;
    border-color: #333;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    margin: 0.2em;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu :target {
    border-color: #a52710;
}

.bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
