@import url('https://fonts.cdnfonts.com/css/dirty-ego');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

/* ANIMAZIONI */
@keyframes header-shrink-logo {
	from {
		font-size: 6em;
        max-width: 100%;
	}
	to {
		font-size: 2.1em;
        max-width: 70%;
	}
}
@keyframes header-shrink-data {
	from {
		font-size: 2em;
        max-width: 50%;
	}
	to {
		font-size: 1em;
        max-width: 40%;
	}
}
@keyframes disappear {
	from {
        opacity: 100%;
        visibility: visible;
        height: auto;
        margin: auto;
	}
	to {
        opacity: 0%;
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
	}
}
@keyframes header-shrink {
	from {
		height: 94svh;
	}
	to {
		height: 8svh;
	}
}
@keyframes title-rearrange {
	from {
		flex-direction: column;
	}
	to {
		flex-direction: row;
        justify-content: space-between;
	}
}
@keyframes footer-color {
	from {
        background-color:#a52710;
        border-top-style: solid;
    	}
	to {
        background-color: #f39c34;
        border-top-style: hidden;
    }
}
@keyframes main-shrink {
    from {
        margin-top: 94svh;
    }
    to {
        margin-top: 8svh;

    }
    
}

html {
    /*scroll-behavior: smooth;*/
    scroll-padding-top: 8svh;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
  }

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    background-color: #a52710;
    color: white;
    position: fixed;
    width: 100%;
    font-family: 'Dirty Ego';
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 0;
    animation: header-shrink 1s forwards;
    animation-delay: 4s;
    height: 94svh;
	/* animation-timeline: scroll();
    animation-range: 0svh 84svh; */
}

header h1 {
    margin: 0;
    text-align: center;
    padding: 0.2em;
    font-weight: normal;
    animation: header-shrink-logo 1s ease-in-out forwards;
    animation-delay: 4s;
    font-size: 6em;
    max-width: 100%;
/* 	animation-timeline: scroll();
    animation-range: 20svh 50svh; */
}

header p {
    transition: 0.4s;
    text-align: right;
    font-size: 2em;
    padding: 0.2em 1em;
    max-width: 50%;
}
.shrink {
    animation: header-shrink-data 1s ease-in-out forwards;
    animation-delay: 4s;
/* 	animation-timeline: scroll();
    animation-range: 20svh 50svh; */
}

.disappear {
    animation: disappear 1s ease-in-out forwards;
    animation-delay: 4s;
/* 	animation-timeline: scroll();
    animation-range: 0svh 40svh; */
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
    text-align: center;
}
#title {
    display: flex;
	flex-direction: column;
    animation: title-rearrange 1s ease-in-out forwards;
    animation-delay: 4s;
/* 	animation-timeline: scroll();
    animation-range: 0svh 80svh; */
    width: 100%;
    align-items: center;
    text-shadow: 5px 2px 3px #333;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6svh;
    border-top-color: #f39c34;
    animation: footer-color 1s linear forwards;
    animation-delay: 4s;
/* 	animation-timeline: scroll();
    animation-range: 0svh 10svh; */
    z-index: 2;
    background-color:#a52710;
    border-top-style: solid;
}

footer p {
    align-items: center;
    margin: 0;
    text-decoration: underline;
}

main {
    margin-bottom: 6svh;
    animation: main-shrink 1s linear forwards;
    margin-top: 94svh;
    animation-delay: 4s;
}

main h2 {
    background-color: #81744b;
    color: #fff;
    padding: 1em 1.5em;
    margin: 0;
    scroll-snap-align: start;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    background-color: #f7ebec;
    list-style-type: none;
    padding: 1em 1em 0.5em;;
    margin: 0.4em 0;
}
li p {
    margin: 0;
}
li ul li {
    padding: 0.3em;
    text-align: right;
    font-weight: bold;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5em;
    color: white;
    font-family: 'Dirty Ego';
    font-size: 1.5em;
    height: -webkit-fill-available;
}

.socials a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 1.2em;
    padding: 0 0.3em;
}

/* menu {
    position: sticky;
    background-color: #f39c34;
    top: 9.5svh;
    margin: 0 0 10px;
    z-index: 1;
    padding: 0 0.5em;
}
.menu {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
}

.menu ul {
    padding: 0.8em;
    border-color: #333;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    margin: 0.2em;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu :target {
    border-color: #a52710;
}
 */

/* HTML: <div class="loader"></div> */
/* .loader {
    width: 35px;
    height: 80px;
    position: relative;
    align-items: center;
    display: inline-block;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px 5px;
    border-top: 1px solid #bbb6aa;
    border-bottom: 4px solid #bbb6aa;
    background: 
      linear-gradient(#612329 0 0) bottom no-repeat content-box, 
      #e4e0d7;
    mix-blend-mode: darken;
    animation: l1 4s linear;
  }
  .loader:before {
    content: "";
    position: absolute;
    inset: -18px calc(50% - 2px) 8px;
    background: #eb6b3e;   
    transform-origin: bottom;
    transform: rotate(8deg);
  }
  @keyframes l1 {
   0%   {background-size: 100% 100%}
   100% {background-size: 100% 5%}
  } */

  /* HTML: <div class="loader"></div> */
.loader {
    width: 35px;
    height: 80px;
    position: relative;
    align-items: center;
    display: inline-block;
    margin-bottom: 4vh;
  }
  .loader:after {
    content: "";
    position: absolute;
    inset: 0 0 20px;
    border-radius: 50px 50px 10px 10px;
    padding: 1px;
    background: linear-gradient(#ff4d80 33%,#ffa104 0 66%, #01ddc7 0) content-box;
    --c:radial-gradient(farthest-side,#000 94%,#0000);
    -webkit-mask:
      linear-gradient(#0000 0 0),
      var(--c) -10px -10px,
      var(--c)  15px -14px,
      var(--c)   9px -6px,
      var(--c) -12px  9px,
      var(--c)  14px  9px,
      var(--c)  23px 27px,
      var(--c)  -8px 35px,
      var(--c)   50% 50%,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0),
      var(--c) -10px -10px,
      var(--c)  15px -14px,
      var(--c)   9px -6px,
      var(--c) -12px  9px,
      var(--c)  14px  9px,
      var(--c)  23px 27px,
      var(--c)  -8px 35px,
      var(--c)   50% 50%,
      linear-gradient(#0000 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude,add,add,add,add,add,add,add,add;
    -webkit-mask-repeat: no-repeat;
    animation: l3 5s forwards ;
  }
  .loader:before {
    content: "";
    position: absolute;
    inset: 50% calc(50% - 4px) 0;
    background: #e0a267;
    border-radius: 50px;
  }
  @keyframes l3 {
   0%   {-webkit-mask-size: auto,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0}
   10%  {-webkit-mask-size: auto,25px 25px,0 0,0 0,0 0,0 0,0 0,0 0,0 0}
   20%  {-webkit-mask-size: auto,25px 25px,25px 25px,0 0,0 0,0 0,0 0,0 0,0 0}
   30%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,0 0,0 0,0 0,0 0,0 0}
   40%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,0 0,0 0,0 0,0 0}
   50%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,0 0,0 0,0 0}
   60%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,0 0,0 0}
   70%  {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,25px 25px,0 0}
   80%,
   100% {-webkit-mask-size: auto,25px 25px,25px 25px,30px 30px,30px 30px,25px 25px,25px 25px,25px 25px,200% 200%}
  }
  