<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- <script>
      document.addEventListener('DOMContentLoaded',()=>{
          document.querySelector('.trigger').addEventListener('click',()=>{
              Array.from( document.querySelectorAll( '.animated' ) ).forEach( div=>{
                  div.classList.toggle('activated')
              })
          });
      })
  </script> -->
  <script>
      var started = false;
        document.addEventListener('scroll',()=>{
          if(!started) {
            Array.from( document.querySelectorAll( '.animated' ) ).forEach( div=>{
                div.classList.toggle('activated')
            });
          };
          started = true;

        });
</script>
</head>
<body>
    <header class="trigger animated">
      <div class="disappear animated">
        <p class="disappear animated">Benvenuto alla</p>
      </div>
      <div id="title" class="animated">
        <h1 id="logo" class="animated" style="scroll-snap-align: center;">{{ site.title }}</h1>
        <p id="data" class="shrink animated">{{ page.title }}</p>
      </div>
      <div class="disappear animated">
        <p class="disappear animated" style="font-weight: normal;">{{ page.description }}</p>
        <p class="disappear bounce animated" style="margin-top: 5vh;"><a href="#antipasti" style="color: white; text-decoration: none; text-shadow: 5px 2px 3px #333;">&#8595;</a></p>
      </div>
    </header>
    <main class="animated">
    <!-- <menu>
      {% include menu.html %}
    </menu> -->
        {{ content }}
    </main>
    <footer class="animated">
        {% include socials.html %}
    </footer>
</body>
</html>
