<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1 id="logo">{{ site.title }}</h1>
        <p id="data">{{ page.title }}</p>
    </header>
    <main>
        {% include menu.html %}
        {{ content }}
    </main>
    <footer>
        {% include socials.html %}
    </footer>

</body>
</html>
