<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header class="trigger">
      <div class="disappear">
        <p class="disappear">Benvenuto alla</p>
      </div>
      <div id="title">
        <h1 id="logo" style="scroll-snap-align: center;">{{ site.title }}</h1>
        <p id="data" class="shrink">{{ page.title }}</p>
      </div>
      <div class="disappear">
        <p class="disappear" style="font-weight: normal;">{{ page.description }}</p>
        <p class="disappear"><div class="loader"></div></p>
    </header>
    <main>
    <!-- <menu>
      {% include menu.html %}
    </menu> -->
        {{ content }}
    </main>
    <footer>
        {% include socials.html %}
    </footer>
</body>
</html>
